---
title: GitLab System Administration Training
suppress_header: true
description: "GitLab System Administration Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_admin" }
    .row
      .col-md-12
        %h2 Course Syllabus
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 10:00a
                  %td GitLab Overview
                  %td 
                    %ul
                      %li What is GitLab?
                      %li Concurrent DevOps
                      %li GitLab Recommended Process
                      %li GitLab WorkFlow Components
                %tr
                  %td 10:00a - 1:00p
                  %td Installing GitLab
                  %td 
                    %ul
                      %li GitLab Installation Steps
                      %li Installation Commands
                      %li Login to the Instance
                      %li Verify Services
                      %li Installing the Runner
                      %li What is a GitLab Runner
                      %li GitLab Runner Installation Steps
                      %li Installation Commands for Linux
                      %li Registering a Runner
                      %li Registering via Docker
                      %li Verifying a Runner
                      %li <strong>Hands on Lab</strong>: Docker Sandbox Lab
                      %li <strong>Hands on Lab</strong>: Job Parts
                %tr
                  %td 1:00 - 4:30p
                  %td GitLab System Admin Overview
                  %td 
                    %ul
                      %li System Admin Panel
                      %li Admin Panel Dashboard
                      %li <strong>Hands on Lab</strong>: Install License Lab
                      %li <strong>Hands on Lab</strong>: Register Runner Lab
                      %li <strong>Hands On Lab</strong>: Scoped Runner Lab
                      %li Path Setup
                      %li Managing User Accounts
                      %li GitLab CLI Utilities for Reconfiguring
                      %li Managing Backups
                      %li <strong>Hands on Lab</strong>: Backups Lab
                      %li <strong>Hands on Lab</strong>: Restore Lab
                      %li <strong>Hands On Lab</strong>: Jira Integration
                      %li <strong>Hands On Lab</strong>: LDAP Integration
                      %li <strong>Hands On Lab</strong>: AWS HA Demo CloudFormation
                      %li <strong>Hands On Lab</strong>: Distributed Implementation Lab
        <a href='https://drive.google.com/file/d/1GwxYjns4oBAgRQjCBwKhotbyLWBlFsi2/view?usp=sharing'> Download the syllabus</a>  
        = partial "includes/services/requirements", locals: { id: "training_sessions_admin" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_admin" }
        

