.cern-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      = link_to "/customers/cern/", class: "hero-title hero-cta hero-cern-title" do
        %h1
          CERN uses GitLab to connect researchers from across the globe
      %p.hero-description
        CERN is the European Organization for Nuclear Research. Using highly sophisticated instruments, the organization’s physicists and engineers study the fundamental particles that are the building blocks of the universe.
      = link_to "/free-trial/", class: "btn cta-btn accent hero-cta hero-cern-free-trial" do
        Try GitLab for Free
      = link_to "/customers/cern/", class: "hero-cta hero-cern-link" do
        %p Read the case study →
    .hero-image-container
      = link_to "/customers/cern/", class: "hero-image-link hero-cta hero-cern-image" do
        = image_tag "/images/organizations/logo_cern_white.svg", class: "hero-image", alt: "Cern logo svg"
